<!DOCTYPE html>    
 <html xmlns:th="http://www.thymeleaf.org">    
 <head>    
 	<meta charset="UTF-8">    
 	<base th:href="@{/}">        
 	<title>Add trainer</title>    
 	<link rel="stylesheet" type="text/css" href="css/StylesForm.css"/>    
 	<link rel="stylesheet" type="text/css" href="css/StylesMenu.css"/>  
 	
 </head>    
 <body> 
 <h2>OnlineFitness</h2>   
 	 <nav>
	  <div class="navigation">  
	 	<ul>     
	 	     
	 		<li ><a href="trainers" >Trainers</a></li>
	 		<li ><a href="clients" >Clients</a></li>
	 		<li ><a th:if="${session.user.role.toString() == 'ADMIN'}"  href="admins" >Admin</a></li>
	 		<li ><a href="appointments">Appointments</a></li>
	 	 <li ><a th:if="${session.user.role.toString() == 'ADMIN'}" href="reports" >Reports</a></li>
	 		
	 		<li><a href="">Logout</a></li>  
	 	   
	 	</ul>     
	 	</div>
	</nav>
	
	
	<section class="content">
	<div class = "content"> 
 	<form method="post" action="reports/add">    
 		<table>    
 			<caption>Report</caption>    
 			<tr><th>Period of time (past 3 months,past week etc):</th><td><input type="text" value="" name="periodOfTime" /></td></tr>
			<tr><th>Income:</th><td><input type="number" value="" name="income" required/></td></tr>
		     <tr>
     <th>Best rated trainers:</th>
     <td>
       <select name = "bestRatedTrainers" multiple>
						<option th:each="itTrainer: ${session.trainers}" 
						th:value="${itTrainer.id}" 
						th:text="|${itTrainer.name}  ${itTrainer.surname} |">
						</option>
					</select>
    </td>
  </tr>
    <tr>
     <th>Most paid trainers:</th>
     <td>
       <select name = "mostPaidTrainers" multiple>
						<option th:each="itTrainer: ${session.trainers}" 
						th:value="${itTrainer.id}" 
						th:text="|${itTrainer.name}  ${itTrainer.surname} |">
						</option>
					</select>
    </td>
  </tr>
  
  
				<tr>
			  <tr>		
 			<tr><th></th><td><input type="submit" value="Add"/></td>    
 		</table>    
 	</form>   
 	</div>
 		</section>
 		
 		
 	<br/>  
 </body>  
 </html>  		