<!DOCTYPE html> 
	<html xmlns:th="http://www.thymeleaf.org">     
	<head>     
		<meta charset="UTF-8">     
		<base th:href="@{/}">
		<title>Admin</title>     
		<link rel="stylesheet"  type="text/css"  href="css/StylesTable.css"/>     
	 	<link rel="stylesheet"  type="text/css" href="css/StylesMenu.css"/>   
	 </head>     
	 <body> 
	 <h2>OnlineFitness</h2>
	  <nav>
	  <div class="navigation">  
	 	<ul>     
	 			<li ><a href="trainers" >Trainers</a></li>
	 		<li ><a href="clients" >Clients</a></li>
	 		<li ><a href="admins" >Admin</a></li>
	 		<li ><a href="appointments">Appointments</a></li>
	 	</ul>     
	 	</div >
	</nav>
	
	 <section class="registrationForm">
	<div class = "registrationForm">
	<table th:unless="${session.user == null}"> 
	<tr><th>You're logged in as:</th><td><a th:href="|users/details?id=${session.user.id}|" th:text="${session.user.email}"></a>.</td></tr>
		<tr>
			<td colspan="2">
				<ul>
					<li><a href="logout">Logout</a></li>
				</ul>
			</td>
		</tr>
	</table>
	<table th:if="${session.user == null}">
		<tr><th>You're not logged in: </th></tr>
		<tr>
			<td>
				<ul>
					<li><a href="registration">Registration</a></li>
					<li><a href="login">Login</a></li>
				</ul>
			</td>
		</tr>
	</table>
	</div>
	</section>
	
	  <section class="content">
	<div class = "content" >
	 		<table>     
	 			<caption>Admin</caption>     
	 			<tr>      
	 			   <th></th>     
	 				<th></th>  
	 				<th>Name</th>          
	 				<th>Surname</th>   
	 				<th>Email</th>   
	 				<th>Phone Number</th>   
	 				<th>Address</th>   
	 				<th>Card number</th>   
	 				<th>Native language</th>  
	 			  	<th>Additional languages</th> 
	 				<th>Role</th> 
	 				   
	 			
	 			</tr>
	 			<tr th:each="itAdmin, status: ${admins}">
	 			
	 			<td class="broj" th:text="${(status.index + 1)+'.'}"></td>     
	 				<td><a  
	 				th:href="|admins/details?id=${itAdmin.id}|" th:text="${itAdmin.name}"></a></td>    
	 	  
	 				<td th:text="${itAdmin.name}"></td>    
	 				<td th:text="${itAdmin.surname}"></td>    
	 				<td th:text="${itAdmin.email}"></td>    
	 				<td th:text="${itAdmin.phoneNumber}"></td>    
	 				<td th:text="${itAdmin.address}"></td>    
	 				<td th:text="${itAdmin.cardNumber}"></td>    
	 				<td th:text="${itAdmin.nativeLanguage}"></td>    
  <td>  <span th:each="language : ${itAdmin.additionalLanguages}" th:text="${language.name()} + ' '"></span> </td>
	 				<td th:text="${itAdmin.role}"></td>    
	 				
	 				
	 			</tr>
	 		</table>
	 		</div>
	 		</section>
	 		
	 	   
	 </body>   
 </html>	