<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<base th:href="@{/}">
	<link rel="stylesheet" type="text/css" href="css/StylesForm.css"/>
	<link rel="stylesheet" type="text/css" href="css/StylesMenu.css"/>
	<title>Appointment</title>
</head>
<body>
<h2>OnlineFittness</h2>
	 <nav>
	  <div class="navigation">  
	 	<ul>     
	 		<li ><a href="trainers" >Trainers</a></li>
	 		<li ><a href="clients" >Clients</a></li>
	 		<li ><a href="admins" >Admin</a></li>
	 		<li ><a href="appointments">Appointments</a></li>   
	 		<li><a href="">Logout</a></li> 
	 	</ul>     
	 	</div>
	</nav>
	
	<section class="content">
	<div class = "content"> 
	<form method="post" action="appointments/edit">
		<input type="hidden" name="id" th:value="${appointment.id}"/>
		<table class="forma">
				<caption>Appointment</caption>
			<tr>
 				<th>Trainer</th>
				<td>
					<select name = "trainerId">
						<option th:each="itTrainer: ${trainers}" 
						th:value="${itTrainer.id}" 
						th:text="|${itTrainer.name}  ${itTrainer.surname} |"
						 th:selected="${itTrainer.id == appointment.trainer.id}">
						</option>
					</select>
					
				</td>
			</tr>      
			<tr>
 				<th>Client</th>
				<td>
					<select name = "clientId">
						<option th:each="itclient: ${clients}" 
						th:value="${itclient.id}" 
						th:text="|${itclient.name}  ${itclient.surname} |"
						 th:selected="${itclient.id == appointment.client.id}">
						</option>
					</select>
					
				</td>
			</tr>      
			<tr>
			  <th>Is Free:</th>
			  <td>
			    <input type="checkbox" name="isFree" th:checked="${appointment.free}" />
			  </td>
			</tr>
			
			<tr><th>Date and time:</th><td><input type="datetime" th:value="${appointment.dateAndTime}" name="dateAndTime"/></td></tr>
		   <tr><th>Price:</th><td><input type="number"  th:value ="${appointment.price}" name="price" required/></td></tr>
			 <tr>
 				<th>Rating:</th>
				<td>
			    <select name="rating" >
			      <option  
			       th:each="erating: ${T(com.ftn.OnlineFitness.model.ERating).values()}" 
			                th:value="${erating}" 
			              th:text="${erating}"
			               th:selected="${erating == appointment.rating}">
			      </option>
			    </select>
			  </td>
				
			</tr>   
			<tr><th>Comment:</th><td><input type="text" th:value="${appointment.comment}" name="comment" /></td></tr>
		
			
 			
			<tr><th></th><td><input type="submit" value="Update"/></td></tr>
		
			
		
		</table>
	</form>
	<form method="post" action="appointments/delete">
		<input type="hidden" name="id" th:value="${appointment.id}"/>
		<table class="forma">
			<tr><th></th><td><input type="submit" value="Delete"/></td></tr>
		</table>
	</form>
	
	</div>
	</section>
</body>
</html>