<!DOCTYPE html> 
	<html xmlns:th="http://www.thymeleaf.org">     
	<head>     
		<meta charset="UTF-8">     
		<base th:href="@{/}">
		<title>Clients</title>     
		<link rel="stylesheet"  type="text/css"  href="css/StylesTable.css"/>     
	 	<link rel="stylesheet"  type="text/css" href="css/StylesMenu.css"/>   
	 </head>     
	 <body> 
	 <h2>OnlineFitness</h2>
	  <nav>
	  <div class="navigation">  
	 	<ul>     
	 			<li ><a href="trainers" >Trainers</a></li>
	 		<li ><a href="clients" >Clients</a></li>
	 		<li ><a th:if="${session.user.role.toString() == 'ADMIN'}" href="admins" >Admin</a></li>
	 		<li ><a href="appointments">Appointments</a></li>
	 	     <li ><a th:if="${session.user.role.toString() == 'ADMIN'}" href="reports" >Reports</a></li>
	 		
	 	</ul>     
	 	</div >
	</nav>
	
	 <section class="registrationForm">
	<div class = "registrationForm">
	<table th:unless="${session.user == null}"> 
	 	  								
		  <tr>
        <th>You're logged in as </th>
        <td>
            <a th:if="${session.user.role.toString() == 'TRAINER'}" th:href="@{'/trainers/details?id=' + ${session.user.id}}">
                View profile as trainer (<span th:text="${session.user.email}"></span>)
            </a>
            <a th:if="${session.user.role.toString() == 'CLIENT'}" th:href="@{'/clients/details?id=' + ${session.user.id}}">
                View profile as client (<span th:text="${session.user.email}"></span>)
            </a>
            <a th:if="${session.user.role.toString() == 'ADMIN'}" th:href="@{'/admins/details?id=' + ${session.user.id}}">
                View profile as admin (<span th:text="${session.user.email}"></span>)
            </a>
        </td>
    </tr>
    <tr>
        <td colspan="2">
            <ul>
                <li><a href="logout">Logout</a></li>
            </ul>
        </td>
    </tr>
	</table>
	<table th:if="${session.user == null}">
		<tr><th>You're not logged in</th></tr>
		<tr>
			<td>
				<ul>
					<li><a href="registration">Registration</a></li>
					<li><a href="login">Login</a></li>
				</ul>
			</td>
		</tr>
	</table>
	</div>
	</section>
	
	  <section class="content">
	<div class = "content" >
	 		<table>     
	 			<caption>Clients</caption>     
	 			<tr>      
	 			   <th></th>     
	 				<th></th>  
	 				<th>Name</th>          
	 				<th>Surname</th>   
	 				<th>Email</th>   
	 				<th>Phone Number</th>   
	 				<th>Address</th>   
	 				<th>Card number</th>   
	 				<th>Native language</th>  
	 			  	<th>Additional languages</th> 
	 				<th>Role</th> 
	 				<th>Height</th> 
	 				<th>Weight</th> 
	 				<th>Illness or conditions</th> 
	 				<th>Goals</th> 
	 				<th>Props</th> 
	 				<th>Waist</th> 
	 				<th>Stomach</th> 
	 				<th></th>   
	 			
	 			</tr>
	 			<tr th:each="itClient, status: ${clients}"
	 				 th:if="${session.user != null && 
            (session.user.role.toString() != 'CLIENT' || 
              (session.user.role.toString() == 'CLIENT' && itClient.id == session.user.id))}">
	 		
	 			
	 			<td class="broj" th:text="${(status.index + 1)+'.'}"></td>     
	 			<td><a  th:if="${session.user.role.toString() != 'TRAINER'}"
	 				th:href="|clients/details?id=${itClient.id}|" th:text="${itClient.name}"></a></td>    
	 	  
	 				<td th:text="${itClient.name}"></td>    
	 				<td th:text="${itClient.surname}"></td>    
	 				<td th:text="${itClient.email}"></td>    
	 				<td th:text="${itClient.phoneNumber}"></td>    
	 				<td th:text="${itClient.address}"></td>    
	 				<td th:text="${itClient.cardNumber}"></td>    
	 				<td th:text="${itClient.nativeLanguage}"></td>    
					 <td><span th:each="language : ${itClient.additionalLanguages}" 
					  th:text="${language.name()} + ' '"></span> </td>
	 				<td th:text="${itClient.role}"></td>    
	 				<td th:text="${itClient.height}"></td>    
	 				<td th:text="${itClient.weight}"></td>    
	 				<td th:text="${itClient.illnessOrConditions}"></td>
	 				<td><span th:each="goal : ${itClient.goals}" 
					  th:text="${goal.name()} + ' '"></span> </td>
					  <td><span th:each="prop : ${itClient.props}" 
					  th:text="${prop.name()} + ' '"></span> </td>    
	 				<td th:text="${itClient.waistCircumference}"></td>    
	 				<td th:text="${itClient.stomachCircumference}"></td>    
	 				
	 				<td>    
	 					<form  th:if="${session.user.role.toString() == 'ADMIN'}"
	 					method="post" action="clients/delete" >     
	 						<input type="hidden"  name="id"  th:value="${itClient.id}">     
	 						<input type="submit"  value="Delete" >    
	 					</form>    
	 				</td>   
	 			</tr>
	 		</table>
	 		</div>
	 		</section>
	 		 <div class = 'btn'>  
	 		<a th:if="${session.user.role.toString() == 'ADMIN'}"
	 		 href="clients/add" class = "btn">Add client</a>     
	 	</div>
	 	   
	 </body>   
 </html>	