<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"> 
<head>
	<meta charset="UTF-8">
	<base href="">
	<link rel="stylesheet" type="text/css" href="css/StylesForm.css"/>
	<link rel="stylesheet" type="text/css" href="css/StylesMenu.css"/>
	<title>Login</title>
</head>
<body>
<h2>OnlineFitness</h2>
<nav>

	  <div class="navigation">  
	 	<ul>     
	 
	 	
	 		
	   
	 	</ul>     
	 	</div >
	</nav>
	<br>
	<br>
	<br>
	
	
	<table class="user">
		<tr><th>You're not logged in</th></tr>
		<tr>
			<td>
				<ul>
					<li><a href="registration">Registration</a></li>
					<li><a href="login">Login</a></li>
					
				</ul>
			</td>
		</tr>
	</table>
	



	<form method="post" action="/OnlineFitness/login">
		
		<table>
			<caption>Login:</caption>
			<tr><th>Email:</th><td><input type="text" value="" name="email" required/></td></tr>
			<tr><th>Password:</th><td><input type="password" value="" name="password" required/></td></tr>
			
			
			<tr><th></th><td><input type="submit" value="Login" />
			
			<div th:if="${errorLogin}" class="alert alert-danger">
			Wrong credentials.
         </div>
			
			</td>

		</table>
	</form>
<div th:if="${param.error}" class="alert alert-danger">
	Invalid email and password.
</div>
<div th:if="${param.logout}" class="alert alert-success">
	You have been logged out.
</div>
</body>
</html>