<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"> 
<head>
	<meta charset="UTF-8">
	<base href="">
	<link rel="stylesheet" type="text/css" href="css/StylesForm.css"/>
	<link rel="stylesheet" type="text/css" href="css/StylesMenu.css"/>
	<title>Login</title>
</head>
<body>
<h2>OnlineFitness</h2>
<nav>

	  <div class="navigation">  
	 	<ul>     
	 
	 		  <li ><a href="trainers" >Trainers</a></li>
	 		<li ><a href="clients" >Clients</a></li>
	 		<li ><a href="appointments">Appointments</a></li>
	 		
	   
	 	</ul>     
	 	</div >
	</nav>
	<br>
	<br>
	<br>
	
	
	<table class="user">
		<tr><th>You're not logged in</th></tr>
		<tr>
			<td>
				<ul>
					<li><a href="registration.html">Registration</a></li>
					<li><a href="login.html">Login</a></li>
					
				</ul>
			</td>
		</tr>
	</table>
	
	<form method="post" action="login">
		
		<table>
			<caption>Login:</caption>
			<tr>
				<th>Email:</th>
				<td>
					<input type="text" placeholder="Enter Email" name="email" required/>
				</td>
			</tr>
			<tr><th>Password:</th><td><input type="password" placeholder="Enter Password" name="password" required/></td></tr>
			<tr><th></th><td><input type="submit" value="Login" /></td>
		</table>
	</form>
<div th:if="${param.error}" class="alert alert-danger">
	Invalid email and password.
</div>
<div th:if="${param.logout}" class="alert alert-success">
	You have been logged out.
</div>
</body>
</html>