<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<base href="">
	<link rel="stylesheet" type="text/css" href="css/StylesForm.css"/>
	<link rel="stylesheet" type="text/css" href="css/StylesMenu.css"/>
	<title>Registration</title>
</head>
<body>
	<h2>OnlineFitness</h2>
<nav>

	  <div class="navigation">  
	 	<ul>     
	 
	 		
	 		
	 	</ul>     
	 	</div >
	</nav>
	<br>
	<br>
	<br>
	
	<table class="user">
		<tr><th>You're not logged in</th></tr>
		<tr>
			<td>
				<ul>
					<li><a href="registration">Registration</a></li>
					<li><a href="login">Login</a></li>
				</ul>
			</td>
		</tr>
	</table>
	
	<form method="post" action="/OnlineFitness/registration">
		<table>
	
	
			<caption>Registration</caption>
			<tr><th>Name:</th><td>
			 <div th:if="${errorName}" class="alert alert-danger">
			 Name can only contain characters!
         </div>
			
			<input type="text" value="" name="name" /></td></tr>
			
			
			<tr><th>Surname:</th><td>
			 <div th:if="${errorSurname}" class="alert alert-danger">
			 Last name can only contain characters!
         </div>
			
			<input type="text" value="" name="surname" required/></td></tr>
			<tr><th>Email:</th><td>
			<div th:if="${errorSurname}" class="alert alert-danger">
			That is not correct format of email (for example test@gmail.com)
         </div>
         
           		<div th:if="${errorTrainerExistsEmail} or ${errorClientExistsEmail} or ${errorAdminExistsEmail}" class="alert alert-danger">
  Client/Trainer/Admin with this email already exists.
</div>
		
         
			
			<input type="text" value="" name="email" required /></td></tr>
			<tr><th>Password:</th><td>
			 <div th:if="${errorPassword}" class="alert alert-danger">
       Password must contain between 8 and 20 letters,one uppercase and one lowercase letter,and minimun one number.
         </div>
			
			<input type="password" value="" name="password" required/></td></tr>
			<tr><th>Phone number:</th><td>
			
			<div th:if="${errorPhone}" class="alert alert-danger">
                   Phone number is in incorrect format (example 0603300123). </div>
			
		<div th:if="${errorTrainerExistsPhoneNumber} or ${errorClientExistsPhoneNumber} or ${errorAdminExistsPhoneNumber}" class="alert alert-danger">
  Client/Trainer/Admin with this phone number already exists.
</div>
			
			<input type="text" value="" name="phoneNumber" required /></td></tr>
			<tr><th>Address:</th><td><input type="text" value="" name="address" required/></td></tr>
			<tr><th>Card number:</th><td>
			
          	
		<div th:if="${errorTrainerExistsCardNumber} or ${errorClientExistsCardNumber} or ${errorAdminExistsCardNumber}" class="alert alert-danger">
  Client/Trainer/Admin with this card number already exists.
</div>
		
			<input type="text" value="" name="cardNumber" required/></td></tr>
			<tr>
 				<th>Native language:</th>
				<td>
			    <select name="nativeLanguage">
			      <option th:each="elanguage: ${T(com.ftn.OnlineFitness.model.ELanguage).values()}" 
			                th:value="${elanguage}" 
			              th:text="${elanguage}">
			      </option>
			    </select>
			  </td>
			  <tr>
				  <th>Additional languages:</th>
				  <td>
				    <select name="additionalLanguages" multiple>
				      <option th:each="language: ${T(com.ftn.OnlineFitness.model.ELanguage).values()}" 
				                th:value="${language}" 
				              th:text="${language}">
				      </option>
				    </select>
				  </td>
				</tr>
				<tr>
 				<th>Role:</th>
				<td>
			 <select name="role">
  <option th:each="erole : ${filteredRoles}"
          th:value="${erole}" 
          th:text="${erole}">
  </option>
</select>
			  </td>
			  <tr>
				
			<tr><th></th><td><input type="submit" value="Register" /></td>
		</table>
		
	</form>

	

</body>
</html>