<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">     
<head>
<meta charset="UTF-8">
<title>Reports</title>
<link rel="stylesheet"  type="text/css"  href="css/StylesTable.css"/>     
<link rel="stylesheet"  type="text/css" href="css/StylesMenu.css"/>   
</head>
<body>
 <h2>OnlineFitness</h2>
 
  <nav>
	  <div class="navigation">  
	 	<ul>     
	 			<li ><a href="trainers" >Trainers</a></li>
	 		<li ><a href="clients" >Clients</a></li>
	 		<li ><a href="admins" >Admin</a></li>
	 		<li ><a href="appointments">Appointments</a></li>
	 		<li ><a href="reports">Reports</a> </li>
	 	</ul>     
	 	</div >
	</nav>
	
	 <section class="registrationForm">
	<div class = "registrationForm">
	<table th:unless="${session.user == null}"> 
	 	  								
		  <tr>
        <th>You're logged in as </th>
        <td>
            <a th:if="${session.user.role.toString() == 'TRAINER'}" th:href="@{'/trainers/details?id=' + ${session.user.id}}">
                View profile as trainer (<span th:text="${session.user.email}"></span>)
            </a>
            <a th:if="${session.user.role.toString() == 'CLIENT'}" th:href="@{'/clients/details?id=' + ${session.user.id}}">
                View profile as client (<span th:text="${session.user.email}"></span>)
            </a>
            <a th:if="${session.user.role.toString() == 'ADMIN'}" th:href="@{'/admins/details?id=' + ${session.user.id}}">
                View profile as admin (<span th:text="${session.user.email}"></span>)
            </a>
        </td>
    </tr>
    <tr>
        <td colspan="2">
            <ul>
                <li><a href="logout">Logout</a></li>
            </ul>
        </td>
    </tr>
	</table>
	<table th:if="${session.user == null}">
		<tr><th>You're not logged in</th></tr>
		<tr>
			<td>
				<ul>
					<li><a href="registration">Registration</a></li>
					<li><a href="login">Login</a></li>
				</ul>
			</td>
		</tr>
	</table>
	</div>
	</section>
	
	  <section class="content">
	<div class = "content" >
	 		<table>     
	 			<caption>Reports</caption>     
	 			<tr>  
	 			    <th> </th>    
	 				<th> Id </th>
	 				<th>Period of time</th>          
	 				<th>Income </th> 
	 				<th>Highest rated trainers </th>
	 			  	<th> Mostly paid traineres </th>
	 			  	<th>Delete report</th>
	 			  	
	 			  	  
	 			
	 			</tr>
	 			<tr th:each="itReport, status: ${reports}">
	 			
	 			<td class="broj" th:text="${(status.index + 1)+'.'}"></td>     
	 				<td><a th:href="|reports/details?id=${itReport.id}|" th:text="${itReport.id}"></a></td>    
	 	  
	 				<td th:text="${itReport.periodOfTime}"></td>    
	 				<td th:text="${itReport.income}"></td>    
  <td>  <span th:each="trainerRanked : ${itReport.bestRankedTrainers}" th:text="${trainerRanked.email} + '   '"></span> </td>
    <td>    <span th:each="trainerPaid : ${itReport.highestPaidTrainers}" th:text="${trainerPaid.email} + ' '"></span> </td>
  
<td>     		
	 			       <form  method="post" action="reports/delete" >     
	 						<input type="hidden"  name="id"  th:value="${itReport.id}">     
	 						<input type="submit"  value="Delete">    
	 					</form>    
	 				</td>   	 				
	 				
	 			</tr>
	 		</table>
	 		</div>
	 		</section>
	 <div class = 'btn'>  
	 		<a href="reports/add" class = "btn">Add report</a>     
	 	</div>

</body>
</html>